<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %><% mode %></title>
    <link rel="stylesheet" type="text/css" href="public/bower_components/foundation/css/foundation.min.css">
  </head>
  <body>
  <% if (mode) { %>
    <p>Running on <%= mode %></p>
  <% } %>
  
  <script type="text/x-handlebars">
  <div class="row">
    <div class="large-3 columns">
      <h1>My Blog</h1>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list right">
        <li>{{#linkTo 'posts'}}My Posts{{/linkTo}}</li>
        <li>{{#linkTo 'about'}}About Me{{/linkTo}}</li>
        <li>{{#linkTo 'contact'}}Contact Me{{/linkTo}}</li>
      </ul>
    </div>
  </div>
  
    <div class="row">    
      <div class="large-9 push-3 columns">
        {{outlet}}
      </div>
      <div class="large-3 pull-9 columns">
        <ul class="side-nav">
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
          <li><a href="#">Section 5</a></li>
          <li><a href="#">Section 6</a></li>
        </ul>
        <p><img src="http://placehold.it/320x240&text=Ad" /></p>      
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="posts">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-3">
        <table class="table">
          <thead>
            <tr><th>
              Recent Posts
            </th></tr>
          </thead>
          {{#each model}}
            <tr><td>
              {{#linkTo 'post' this}} {{title}} <small class="muted">{{author}}</small> {{/linkTo}}
            </td></tr>
          {{/each}}
        </table>
      </div>
      <div class="col-md-9">{{outlet}}</div>
    </div>
  </div>
  </script>
  
  <script type="text/x-handlebars" id="posts/index">
  <p clas="text-success">Please select one of my posts</p>
  </script>

  <script type="text/x-handlebars" id="post">
  {{#if isEditing}}
    {{partial 'post/edit'}}

    <button {{action 'doneEdit'}}>Done</button>
  {{else}}
    <button {{action 'edit'}}>Edit</button>
  {{/if}}
  <h1>{{title}}</h1>
  <h2>{{author}} <small class="muted">{{from_now_date publishedAt}}</small></h2>

  <hr>

  <div class="intro">
  {{markdown intro}}
  </div>

  <div class="below-the-fold">
  {{markdown extended}}
  </div>
  </script>

  <script type="text/x-handlebars" id="post/_edit">
    <p>{{view Ember.TextField valueBinding="title"}}</p>
    <p>{{view Ember.TextField valueBinding="intro"}}</p>
    <p>{{view Ember.TextField valueBinding="extended"}}</p>
  </script>

  <script type="text/x-handlebars" id="about">
    <h2>About</h2>
  </script>
  
  <script type="text/x-handlebars" id="contact">
    <h2>Contact</h2>
  </script>

      <!-- Javascript -->
      <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="public/bower_components/handlebars/handlebars.min.js"></script>
      <script type="text/javascript" src="public/bower_components/ember/ember.min.js"></script>
      <script type="text/javascript" src="public/bower_components/ember-data/ember-data.min.js"></script>
      <script type="text/javascript" src="public/bower_components/momentjs/min/moment.min.js"></script>
      <script type="text/javascript" src="public/bower_components/showdown/compressed/showdown.js"></script>
      <script type="text/javascript" src="public/app/app.js"></script>

  </body>
</html>