<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %><% mode %></title>
    <link rel="stylesheet" type="text/css" href="public/bower_components/foundation/css/foundation.min.css">
  </head>
  <body>
  <% if (mode) { %>
    <p>Running on <%= mode %></p>
  <% } %>
  
  <script type="text/x-handlebars">
  <div class="row">
    <div class="large-3 columns">
      <h1>My Blog</h1>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list right">
        <li>{{#linkTo 'posts'}}My Posts{{/linkTo}}</li>
        <li>{{#linkTo 'about'}}About Me{{/linkTo}}</li>
        <li>{{#linkTo 'contact'}}Contact Me{{/linkTo}}</li>
      </ul>
    </div>
  </div>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="posts">
    <div class="row">    
      <div class="large-9 push-3 columns">
        {{outlet}}
      </div>
      <div class="large-3 pull-9 columns">
        <table class="table">
          <thead>
            <tr><th>
              Recent Posts
            </th></tr>
          </thead>
          {{#each model}}
            <tr><td>
              {{#linkTo 'post' this}} {{title}} <small class="muted">{{author}}</small> {{/linkTo}}
            </td></tr>
          {{/each}}
        </table>
      </div>
    </div>
  </script>
  
  <script type="text/x-handlebars" id="posts/index">
  <p clas="text-success">Please select one of my posts</p>
  </script>

  <script type="text/x-handlebars" id="post">
  {{#if isEditing}}
    {{partial 'post/edit'}}

    <button {{action 'doneEdit'}}>Done</button>
  {{else}}
    <button {{action 'edit'}}>Edit</button>
  {{/if}}
  <h1>{{title}}</h1>
  <h2>{{author}} <small class="muted">{{from_now_date publishedAt}}</small></h2>

  <hr>

  <div class="intro">
  {{markdown intro}}
  </div>

  <div class="below-the-fold">
  {{markdown extended}}
  </div>
  </script>

  <script type="text/x-handlebars" id="post/_edit">
    <p>{{view Ember.TextField valueBinding="title"}}</p>
    <p>{{view Ember.TextField valueBinding="intro"}}</p>
    <p>{{view Ember.TextField valueBinding="extended"}}</p>
  </script>

  <script type="text/x-handlebars" id="about">
    <div class="row">    
      <div class="large-9 push-3 columns">
        <p>Hi, I'm Doron</p>
      </div>
      <div class="large-3 pull-9 columns">
        <h2>About Me</h2>
      </div>
    </div>
  </script>
  
<script type="text/x-handlebars" data-template-name="contact-me-view">
    <h1>Send the message:</h1>
    <div class="send_form">
        {{view Ember.TextField value=view.message}}
        <button type="submit" {{action "submit" target=view}}>Done</button>
         <button type="submit" {{action "clear" target=view}}>clear</button>
    </div>
    <div class="row">
    <form>
    <h2>Contact Me</h2>
  <div class="row">
    <div class="large-6 columns">
      <label>Full Name
        <input type="text" placeholder="Full Name" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Email (Must)
        <input type="text" placeholder="Email" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Phone (Optinal)
        <input type="text" placeholder="Phone Number" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Personal Site
        {{input type="text" name="personal_site" placeholder="Personal Site" size="50"}}
        {{view Ember.TextField value=view.message}}
      </label>
    </div>
    <div class="large-4 columns">
      <label>How did you heard about us?
        <select>
          <option value="false">How did you heard about us?</option>
          <option value="friend">friend</option>
          <option value="google">Google</option>
          <option value="linkedin">LinkedIn</option>
          <option value="github">Github</option>
          <option value="other">Other</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Leave us a message
        <textarea placeholder="Your message"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <a href="#" class="button [alert]" {{action clearContactForm}}>Clear Form</a>
    <a href="#" class="button [radius round]" {{action submitContactForm}}>Contact Me</a>
  </div>
</form>
</div>
</script>

  <script type="text/x-handlebars" id="contact">
    {{view App.ContactView}}
  </script>

      <!-- Javascript -->
      <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="public/bower_components/handlebars/handlebars.min.js"></script>
      <script type="text/javascript" src="public/bower_components/ember/ember.min.js"></script>
      <script type="text/javascript" src="public/bower_components/ember-data/ember-data.min.js"></script>
      <script type="text/javascript" src="public/bower_components/momentjs/min/moment.min.js"></script>
      <script type="text/javascript" src="public/bower_components/showdown/compressed/showdown.js"></script>
      <script type="text/javascript" src="public/app/app.js"></script>

  </body>
</html>